vault {
  address      = "{{ renew_vault_certificates_vault_addr }}"
  token        = "{{ renew_vault_certificates_vault_token }}"
  unwrap_token = {{ renew_vault_certificates_vault_token_unwrap|lower }}
  renew_token  = {{ renew_vault_certificates_vault_token_renew|lower }}
}

template {
  source      = "{{ renew_vault_certificates_config_dir }}/vault_cert.pem.tpl"
  destination = "{{ renew_vault_certificates_cert_dest }}"
  perms       = 0700
  user        = "{{ renew_vault_certificates_vault_user }}"
  group       = "{{ renew_vault_certificates_vault_group }}"
  command     = "sh -c 'echo \"$(date) Update certificate and key file for {{ renew_vault_certificates_info['common_name'] }}\" && pkill -SIGHUP vault '"
}

template {
  source      = "{{ renew_vault_certificates_config_dir }}/vault_key.pem.tpl"
  destination = "{{ renew_vault_certificates_key_dest }}"
  perms       = 0700
  user        = "{{ renew_vault_certificates_vault_user }}"
  group       = "{{ renew_vault_certificates_vault_group }}"
  command     = "sh -c 'echo \"$(date) Update certificate and key file for {{ renew_vault_certificates_info['common_name'] }}\" && pkill -SIGHUP vault '"
}
