vault {
  address      = "{{ renew_vault_certificates_vault_addr }}"
  token        = "{{ renew_vault_certificates_vault_token }}"
  unwrap_token = {{ renew_vault_certificates_vault_token_unwrap|lower }}
  renew_token  = {{ renew_vault_certificates_vault_token_renew|lower }}
}

template {
  source      = "/etc/consul-template/ednz.pem.tpl"
  destination = "/opt/vault/tls/ednz.pem"
  perms       = 0700
  user        = "vault"
  group       = "vault"
  command     = "sh -c 'date && pkill -SIGHUP vault'"
}

template {
  source      = "/etc/consul-template/ednz.key.tpl"
  destination = "/opt/vault/tls/ednz.key"
  perms       = 0700
  user        = "vault"
  group       = "vault"
  command     = "sh -c 'date && pkill -SIGHUP vault'"
}

template {
  source      = "/etc/consul-template/ca.crt.tpl"
  destination = "/opt/vault/tls/ca.crt"
  user        = "vault"
  group       = "vault"
}