[Unit]
Description=Automatic renewal of vault certificate using consul-template
Requires=network-online.target
After=network-online.target vault.service

[Service]
Restart=on-failure
ExecStart=/usr/bin/consul-template $OPTIONS -config={{ renew_vault_certificates_config_dir }}/vault_config.hcl
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target